body {
    font-family: Arial, sans-serif;
    padding: 30px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.skill {
    background: lightblue;
    padding: 30px;
    text-align: center;
}

.card {
    background: lightblue;
    padding: 30px;
    text-align: center;
}

@media (max-width: 600px) {
    .skills-grid {
        grid-template-columns: 1fr;
    
}